body{
    margin: 0;
    padding: 0;
}

#grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60vh 0px 80vh 80vh 80vh 80vh 100vh 70vh;
    justify-content: center;
    align-items: center;
}
.boxes{
    border-top: 2px solid #F79E02;
    margin: 0;
    height: 80vh;
}

#title{
    height: 60vh;
    grid-row: 1;
    background-image: url('mountainPic');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#titleText{
    font-size: 10vh;
    font-family: sans-serif;
    color: #F79E02;
    opacity: .75;
}

#titleSub{
    font-size: 4vh;
    font-family: serif;
    color: #F79E02;
    opacity: .75;
}

#image{
    position: relative;
    height: 20vw;
    padding: 0;
    grid-row: 2;
    justify-self: center;
}

#myPic{
    border-radius: 100%;
    min-width: 5vw;
    max-width: 20vw;
    min-height: 10vh;
    max-height: 30vh;
    z-index: 10;
    border: 2px solid #F79E02;
}

.boxes h1{
    position: relative;
    margin: 0;
    padding: 0;
    top: 40vh;
}

.topText{
    color: #10E7DC;
    font-family: sans-serif;
}

.bottomText{
    color: #1F2833;
    margin: 0;
    padding: 10vh 0 10vh 2.5vw;
    font-family: serif;
    font-size: 5vh;
    width: 70vw;
    height: 70vh;
}

.list{
    list-style-type: disc;
    padding-left: 10vw;
}
.alt{
    color: #1F2833;
    margin: 0;
    padding: 15vh 0 10vh 30vw;
    font-family: serif;
    font-size: 4vh;
    font-weight: bold;
    width: 60vw;
    height: 60vh;
    list-style-type: disc;
}

.alt span{
    float: left;
    margin: 4vw;
}

.bigPara{
    color: #1F2833;
    margin: 0;
    padding: 15vh 0 10vh 25vw;
    font-family: serif;
    font-size: 2.5vh;
    width: 60vw;
    height: 70vh;
}

 .top{
     background-color: #1F2833;
     height: 80vh;
     width: 100%;
     z-index: 5;
     margin: 0;
     text-align: center;
 }


.bottom{
    position: relative;
    background-color:#10E7DC;
    height: 80vh;
    width: 100%;
    z-index: -5;
    margin: 0;
    top: -80vh;
}

#box4{
     height: 100vh;
     background-color: #1F2833;
     border-top: 0px;
}

#projectHeader{
    width: 100%;
    height: 10vh;
    background-color:  #F79E02;
    text-align: center;
    padding: 0;
}

#projectHeader h1{
    position: relative;
    color: #1F2833;
    font-family: sans-serif;
    top: 2vh;
}
#cube1{
    visibility: hidden;
    opacity: 0;
}
#cube2{
    visibility: hidden;
    opacity: 0;
}
#cube3{
    visibility: hidden;
    opacity: 0;
}
#cube4{
    visibility: hidden;
    opacity: 0;
}

#cube5{
    visibility: hidden;
    opacity: 0;
}

.projectInfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    height: 84.5vh;
    width: 30vw;
    border-right: 1px solid #10E7DC; 
    padding: 0 2vw 1vh 2vw;
    margin: 2vh 0 2vh 0;
    text-align: center;
    backdrop-filter: blur(8px);
}

.projectInfo h1{
    flex: 1;
    order: 1;
    position: static;
    color: #10E7DC;
}

.projectInfo span{
    flex: 1;
    order: 2;
    max-height: 20vh;
}

.projectInfo img{
    max-width: 30vw;
    max-height: 20vh;
}

.projectInfo p{
    flex: 4;
    order: 3;
    font-size: 3vh;
    color:  #10E7DC;
}

.projectInfo .buttons{
    flex: 1;
    order: 4;
}
.projectInfo button{
    width: 40%;
    height: 5vh;
    background: transparent;
    border: 1px solid  #10E7DC;
    color:  #10E7DC;
}

#mobileView{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    right: 0;
    height: 70vh;
    width: 40vw;
    padding: 10vh 10vh 10vh 10vh;
}

#mobileView button{
    max-height: 10vh;
    background: transparent;
    color: #F79E02;
    border: 1px solid #F79E02;
    border-radius: 25px;
    font-size: 3vh;
    font-family: sans-serif;
}

#mobile1{
    flex: 1;
    order: 1;
}

#mobile2{
    flex: 1;
    order: 2;
}

#mobile3{
    flex: 1;
    order: 3;
}

#mobile4{
    flex: 1;
    order: 4;
}

#mobile5{
    flex: 1;
    order: 4;
}
#contact{
    height: 70vh;
    /*background-image: url("/contactPic");
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #1F2833;
    text-align: center;
    border-top: 0px;
}

#icons{
    width: 40vw;
    height: auto;
    margin: 20vh auto 0 auto;
}

.fab, .far, .fas{
    margin: 2.5vw;
}

.fab:hover, .far:hover, .fas:hover{
    color: #F79E02 !important;
}

#contact p{
    color: #10E7DC;
    font-family: sans-serif;
    font-size: 2vh;
}




@media screen and (max-width: 1200px){
    #titleSub{
        display: none;
        font-size: 4vh;
        font-family: serif;
        color: #10E7DC;
        opacity: .75;
    }

    #grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60vh 0px 80vh 80vh 80vh 110vh 100vh 70vh;
        justify-content: center;
        align-items: center;
    }

    #box5{
        height: 110vh;
    }

    #top5{
        height: 110vh;
    }

    #bottom5{
        height: 110vh;
    }
    #mobileView{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        right: 0;
        height: 70vh;
        width: 40vw;
        padding: 10vh 10vh 10vh 10vh;
    }
    .bottom{
        top: 0;
    }
    .bottomText{
        color: #1F2833;
        margin: 0;
        padding: 1vh 0 1vh 2.5vw;
        font-family: serif;
        font-size: 3vh;
        font-weight: bold;
        width: 95%;
        height: 70vh;
    }
    .list{
        list-style-type: disc;
        padding-left: 10vw;
        width: 60vw;
    }
    .alt{
        color: #1F2833;
        margin: 0;
        padding: 15vh 0 10vh 15vw;
        font-family: serif;
        font-size: 3.25vh;
        font-weight: bold;
        width: 100vw;
        height: 60vh;
        list-style-type: disc;
    }
    .bigPara{
        color: #1F2833;
        margin: 0;
        padding: 2vh 2vw 10vh 2vw;
        font-family: serif;
        font-size: 2vh;
        font-weight: bold;
        width: 96vw;
        height: 70vh;
        text-align: center;
    }
    .projectInfo{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        min-height: 85vh;
        width: 90vw;
        border-right: 0px;
        padding: 0 5vw 0 5vw;
        margin: 5vh 0 5vh 0;
        text-align: center;
        backdrop-filter: blur(8px);
    }
    .projectInfo p{
        flex: 4;
        order: 3;
        font-size: 2.75vh;
        color:  #10E7DC;
    }
    
}


/* 
teal: #10E7DC;
sunshine oragne: #F79E02
dark gray: #1F2833
*/